In [2]:
import pandas as pd
import requests, json

In [ ]:
# enter your api key here 
api_key = 'AIzaSyBDYA2cA4mnUT202kJoqd1uQYIpI4YT_1k'

In [9]:
df = pd.read_csv("university-names.csv")
df.head()

   id                  university names country code
0   1               New York University          USA
1   2              Princeton University          USA
2   3               Stanford University          USA
3   4  University of Wisconsin, Madison          USA
4   5                Cornell University          USA

In [10]:
import googlemaps

In [12]:
gmaps_key = googlemaps.Client(key="AIzaSyBDYA2cA4mnUT202kJoqd1uQYIpI4YT_1k")

In [14]:
df["location"] = None

a=0
for i in df: 
    print(type(i))
    if a == 1:
        break

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>